.custom-calendar {
  background: transparent !important;
  border: none !important;
  width: 100% !important;
  color: white !important;
}

.react-calendar__tile {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #94a3b8;
}

.react-calendar__tile--active {
  background: #2563eb !important;
  border-radius: 12px;
  color: white !important;
}

.react-calendar__tile:hover {
  background: rgba(255, 255, 255, 0.05) !important;
  border-radius: 12px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #3b82f6;
  border-radius: 50%;
  margin-top: 4px;
}

/* 曜日の色 */
.react-calendar__month-view__weekdays__weekday {
  color: #3b82f6;
  text-decoration: none;
  font-weight: bold;
}
